<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>SantrArchitect</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="shortcut icon" href="https://img.icons8.com/ios-filled/50/000000/circled-s.png" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
</head>
<style>
    #mainNav .navbar-brand {
        color: #157347;
    }

    #mainNav .navbar-nav>li.nav-item>a.nav-link {
        color: black;
    }

    #mainNav .navbar-brand:hover {
        color: #157347;
    }

    #mainNav .navbar-nav>li.nav-item>a.nav-link:hover {
        color: #157347;
    }

    #services h4 {
        color: #157347;
    }
</style>

<body id="page-top">
    <!-- Navigation-->
    <%- include('./partials/navbar') %>

    <section class="page-section bg-light" id="portfolio">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">PROJELER</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>

            <div class="row">

                <% projects.forEach(e=> { %>
                    <% let projectId=e.id.toString() %>
                        <div class="col-lg-4 col-sm-6 mb-4">
                            <!-- Portfolio item 1-->

                            <div class="portfolio-item">

                                <a class="portfolio-link" data-bs-toggle="modal" href="#a<%= projectId %>  ">
                                    <div class="portfolio-hover">
                                        <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                    </div>

                                    <img class="img-fluid" src="<%= e.image_1 %>" alt="..." />
                                </a>
                                <div class="portfolio-caption">
                                    <div class="portfolio-caption-heading">
                                        <%=e.title%>
                                    </div>
                                    <div class="portfolio-caption-subheading text-muted">
                                        <%= e.category %>
                                    </div>
                                </div>
                                <% if(currentUser){ %>

                                    <a class="btn btn-danger btn-lg del" data-doc="<%= e._id %>"
                                        style="color: white;">SİL</a>

                                    <% } %>
                            </div>

                        </div>
                        <div class="portfolio-modal modal fade" id="a<%= projectId %>" tabindex="-1" role="dialog"
                            aria-hidden="true">
                            <div class="modal-dialog">

                                <div class="modal-content">
                                    <div class="close-modal" data-bs-dismiss="modal"><img
                                            src="assets/img/close-icon.svg" alt="Close modal" /></div>
                                    <div class="container">
                                        <div class="row justify-content-center">
                                            <div class="col-lg-8">

                                                <div class="modal-body">
                                                    <!-- Project details-->
                                                    <h2 class="text-uppercase">
                                                        <%= e.projectName %>
                                                    </h2>
                                                    <p class="item-intro text-muted">
                                                        <%= e.intro %>
                                                    </p>
                                                    <img style="height: auto !important;"
                                                        class="img-fluid d-block mx-auto" src="<%= e.image_1 %>"
                                                        alt="..." />
                                                    <p>
                                                        <%= e.content %>
                                                    </p>
                                                    <ul class="list-inline">
                                                        <li>
                                                            <strong>Client:</strong>
                                                            <%= e.title %>
                                                        </li>
                                                        <li>
                                                            <strong>Category:</strong>
                                                            <%= e.category %>
                                                        </li>
                                                    </ul>
                                                    <a href="/project/<%= e.id %>" style="float: right !important;"
                                                        class="btn btn-outline-success btn-xl text-uppercase">Detay</a>
                                                    <button class="btn btn-success btn-xl text-uppercase"
                                                        data-bs-dismiss="modal" type="button">
                                                        <i class="fas fa-times me-1"></i>
                                                        Close Project
                                                    </button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <% }) %>
            </div>


        </div>

    </section>

    <%- include('./partials/footer') %>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
    <script>
        const del = document.querySelector("a.del");

        del.addEventListener("click", (e) => {
            const endpoint = `/allProjects/delete/${del.dataset.doc}`;

            fetch(endpoint, {
                method: "DELETE"
            })
                .then((response) => response.json())
                .then((data) => window.location.href = data.link)
                .catch((err) => {
                    console.log(err);
                })
        })
    </script>
</body>

</html>